/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: #e0e3eb;
}
.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.display {
    height : 80px;
    width : 100%;
    outline: none;
    border : 1px solid #2f9fff;
    border-radius: 6px;
    padding: 20px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    pointer-events: none;
}
.buttons {
    display: grid;
    grid-gap : 10px;
    grid-template-columns: repeat(4, 1fr); /* 4 cột, mỗi cột chiếm 1 phần bằng nhau */
}

.buttons button {
    padding : 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: #eee;
}

.buttons button:active {
    transform: scale(0.95);
}
.operator {
    color: #2f9fff;
}